.container {
    text-align: center;
    margin: 0 auto; 
    position: absolute; 
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.button_suprimer {
    cursor: pointer;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
}

.button_suprimer:hover {
    background-color: #F28F6B;
}

.container h2 {
    color: red;
}

.container h2 span {
    color: black;
}
